.first_line{
    display: flex;
    justify-content: space-between;
}

.first_line_flex{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.cur_name{
    
    font-size: 30px;
    font-weight: bold;
}


.cur_buttons{
    display: flex;
    gap: 10px;
}

.but_lng_shr{
    display: block;
    width: 80px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.but_shr{
    background-color: red;
}

.but_lng{
    background-color: green;
}

.just_text{
    width: 80px;
    height: 40px;
    line-height: 40px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.coefficient{
    width: 20px;
    height: 40px;
    line-height: 40px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.right_part_up{
    color: gray;
    border-bottom: dashed;

    font-size: 20px;
    font-weight: bold;
}

.text_red{
    color: red !important;
}

.text_green{
color: green !important;
}

.right_part_down{
    display: flex;
}