.first_line{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.currency{
    display: flex;
    flex-direction: column;

}

.cur_name{
    
    font-size: 30px;
    font-weight: bold;
}


.cur_buttons{
    display: flex;
    gap: 10px;
}

.but_lng_shr{
    display: block;
    width: 80px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.but_shr{
    background-color: red;
}

.but_lng{
    background-color: green;
}

.just_text{
    width: 80px;
    height: 40px;
    line-height: 40px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.coefficient{
    width: 20px;
    height: 40px;
    line-height: 40px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}