.box{
    display: block;
    width: 700px;
    height: 400px;
    border: 1px solid black;
    /* border-radius: 10px; */
    padding: 20px;
    background-color: white;
}

.input_currency{
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}

.line{
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-bottom: 30px;
}

.third_text{
    font-size: 20px;
    color: #959595;
    margin-right: 5px;
    
}

.text_green{
    color: #2AAA94;
    margin-right: 10px;
    margin-top: 3px;
}
.text_red{
    color: red;
    margin-top: 3px;
}

.last_line{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

.but{
    background-color: #e7e7e7;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    padding: 7px 0px;
}