.box{
    display: block;
    width: 700px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 50px;
    background-color: white;
}

.input_currency{
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}