.column{
    display: flex;
    flex-direction: column;
}

.text{
    font-size: 20px;
    color: #959595;
    margin-bottom: 5px;
}

.value{
    font-size: 20px;
    font-weight: 500;
    color: black;
}